body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.2rem;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 7px;
  width: 50%;
}

#word {
  font-weight: medium;
  font-size: 5rem;
  color: #333;
}

#definition {
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
}

.score-section {
  font-size: 1.5rem;
  margin-top: 20px;
}

#score {
  font-weight: bold;
  margin-left: 5px;
}


button {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  background: green;
}
